@import "https://necolas.github.io/normalize.css/latest/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
html 
{
  font-family: 'Roboto', sans-serif;
}
body 
{
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
.secondary-text 
{
  color: rgba(0, 0, 0, 0.54);
}
.disabled-hint-text 
{
  color: rgba(0, 0, 0, 0.38);
}
.divider 
{
  color: rgba(0, 0, 0, 0.12);
}
